In [1]:
import pandas
df=pandas.read_csv("/home/ghost/Downloads/weather.data.csv")

In [5]:
df

        Unnamed: 0   data        date                 param        siteid
0                1   0.00  2003-01-01         Precipitation          ACRE
1                2   0.00  2003-01-02         Precipitation     AlbertLea
2                3  11.32  2003-01-03         Precipitation          Ames
3                4   0.00  2003-01-04         Precipitation        Antigo
4                5   3.04  2003-01-05         Precipitation      Appleton
5                6   0.49  2003-01-06         Precipitation     Arlington
6                7   0.00  2003-01-07         Precipitation     Bean&Beet
7                8   0.00  2003-01-08         Precipitation     Brookings
8                9   0.00  2003-01-09         Precipitation    Brownstown
9               10   0.00  2003-01-10         Precipitation      Columbia
10              11   0.00  2003-01-11         Precipitation     Crookston
11              12   0.00  2003-01-12         Precipitation        Dekalb
12              13   0.00  2003-01-13         Precipitation  DixonSprings
13              14   1.05  2003-01-14         Precipitation          DPAC
14              15   0.00  2003-01-15         Precipitation   EastLansing
15              16   0.20  2003-01-16         Precipitation     EauClaire
16              17   1.28  2003-01-17         Precipitation      Freeport
17              18   0.00  2003-01-18         Precipitation       Hancock
18              19   0.73  2003-01-19         Precipitation        Joilet
19              20   1.10  2003-01-20         Precipitation       Kellogg
20              21   0.00  2003-01-21         Precipitation     Lamberton
21              22   0.00  2003-01-22         Precipitation     Lancaster
22              23   0.00  2003-01-23         Precipitation     Lexington
23              24   0.00  2003-01-24         Precipitation     Manhattan
24              25   0.00  2003-01-25         Precipitation         McNay
25              26   2.12  2003-01-26         Precipitation      Metamora
26              27   0.00  2003-01-27         Precipitation      Monmouth
27              28   0.00  2003-01-28         Precipitation        Monroe
28              29   4.44  2003-01-29         Precipitation      MorrisIL
29              30   0.00  2003-01-30         Precipitation      MorrisMN
...            ...    ...         ...                   ...           ...
655332      655333  -1.45  2015-12-03   Minimum temperature      Freeport
655333      655334  -1.52  2015-12-04   Minimum temperature       Hancock
655334      655335  -1.95  2015-12-05   Minimum temperature        Joilet
655335      655336  -1.91  2015-12-06   Minimum temperature       Kellogg
655336      655337  -2.32  2015-12-07   Minimum temperature     Lamberton
655337      655338  -0.17  2015-12-08   Minimum temperature     Lancaster
655338      655339   2.26  2015-12-09   Minimum temperature     Lexington
655339      655340   2.58  2015-12-10   Minimum temperature     Manhattan
655340      655341   3.05  2015-12-11   Minimum temperature         McNay
655341      655342   1.97  2015-12-12   Minimum temperature      Metamora
655342      655343   4.92  2015-12-13   Minimum temperature      Monmouth
655343      655344  11.83  2015-12-14   Minimum temperature        Monroe
655344      655345   1.91  2015-12-15   Minimum temperature      MorrisIL
655345      655346   1.64  2015-12-16   Minimum temperature      MorrisMN
655346      655347  -2.66  2015-12-17   Minimum temperature        Nashua
655347      655348  -6.06  2015-12-18   Minimum temperature         NEPAC
655348      655349 -10.99  2015-12-19   Minimum temperature        Oceana
655349      655350 -10.72  2015-12-20   Minimum temperature         Perry
655350      655351   0.29  2015-12-21   Minimum temperature           PIT
655351      655352   1.87  2015-12-22   Minimum temperature  Portageville
655352      655353   0.75  2015-12-23   Minimum temperature          PPAC
655353      655354   0.82  2015-12-24   Minimum temperature     Princeton
655354      655355  -2.24  2015-12-25   Minimum temperature   Rhinelander
655355      655356  -2.24  2015-12-26   Minimum temperature     Rosemount
655356      655357   0.51  2015-12-27   Minimum temperature       Sanilac
655357      655358  -1.96  2015-12-28   Minimum temperature         SEPAC
655358      655359  -3.86  2015-12-29   Minimum temperature       Seymour
655359      655360  -4.50  2015-12-30   Minimum temperature    Sutherland
655360      655361  -5.22  2015-12-31   Minimum temperature        Urbana
655361      655362  -8.23  2016-01-01   Minimum temperature      Walworth

[655362 rows x 5 columns]

In [8]:
df.set_index("date")

            Unnamed: 0   data                 param        siteid
date
2003-01-01           1   0.00         Precipitation          ACRE
2003-01-02           2   0.00         Precipitation     AlbertLea
2003-01-03           3  11.32         Precipitation          Ames
2003-01-04           4   0.00         Precipitation        Antigo
2003-01-05           5   3.04         Precipitation      Appleton
2003-01-06           6   0.49         Precipitation     Arlington
2003-01-07           7   0.00         Precipitation     Bean&Beet
2003-01-08           8   0.00         Precipitation     Brookings
2003-01-09           9   0.00         Precipitation    Brownstown
2003-01-10          10   0.00         Precipitation      Columbia
2003-01-11          11   0.00         Precipitation     Crookston
2003-01-12          12   0.00         Precipitation        Dekalb
2003-01-13          13   0.00         Precipitation  DixonSprings
2003-01-14          14   1.05         Precipitation          DPAC
2003-01-15          15   0.00         Precipitation   EastLansing
2003-01-16          16   0.20         Precipitation     EauClaire
2003-01-17          17   1.28         Precipitation      Freeport
2003-01-18          18   0.00         Precipitation       Hancock
2003-01-19          19   0.73         Precipitation        Joilet
2003-01-20          20   1.10         Precipitation       Kellogg
2003-01-21          21   0.00         Precipitation     Lamberton
2003-01-22          22   0.00         Precipitation     Lancaster
2003-01-23          23   0.00         Precipitation     Lexington
2003-01-24          24   0.00         Precipitation     Manhattan
2003-01-25          25   0.00         Precipitation         McNay
2003-01-26          26   2.12         Precipitation      Metamora
2003-01-27          27   0.00         Precipitation      Monmouth
2003-01-28          28   0.00         Precipitation        Monroe
2003-01-29          29   4.44         Precipitation      MorrisIL
2003-01-30          30   0.00         Precipitation      MorrisMN
...                ...    ...                   ...           ...
2015-12-03      655333  -1.45   Minimum temperature      Freeport
2015-12-04      655334  -1.52   Minimum temperature       Hancock
2015-12-05      655335  -1.95   Minimum temperature        Joilet
2015-12-06      655336  -1.91   Minimum temperature       Kellogg
2015-12-07      655337  -2.32   Minimum temperature     Lamberton
2015-12-08      655338  -0.17   Minimum temperature     Lancaster
2015-12-09      655339   2.26   Minimum temperature     Lexington
2015-12-10      655340   2.58   Minimum temperature     Manhattan
2015-12-11      655341   3.05   Minimum temperature         McNay
2015-12-12      655342   1.97   Minimum temperature      Metamora
2015-12-13      655343   4.92   Minimum temperature      Monmouth
2015-12-14      655344  11.83   Minimum temperature        Monroe
2015-12-15      655345   1.91   Minimum temperature      MorrisIL
2015-12-16      655346   1.64   Minimum temperature      MorrisMN
2015-12-17      655347  -2.66   Minimum temperature        Nashua
2015-12-18      655348  -6.06   Minimum temperature         NEPAC
2015-12-19      655349 -10.99   Minimum temperature        Oceana
2015-12-20      655350 -10.72   Minimum temperature         Perry
2015-12-21      655351   0.29   Minimum temperature           PIT
2015-12-22      655352   1.87   Minimum temperature  Portageville
2015-12-23      655353   0.75   Minimum temperature          PPAC
2015-12-24      655354   0.82   Minimum temperature     Princeton
2015-12-25      655355  -2.24   Minimum temperature   Rhinelander
2015-12-26      655356  -2.24   Minimum temperature     Rosemount
2015-12-27      655357   0.51   Minimum temperature       Sanilac
2015-12-28      655358  -1.96   Minimum temperature         SEPAC
2015-12-29      655359  -3.86   Minimum temperature       Seymour
2015-12-30      655360  -4.50   Minimum temperature    Sutherland
2015-12-31      655361  -5.22   Minimum temperature        Urbana
2016-01-01      655362  -8.23   Minimum temperature      Walworth

[655362 rows x 4 columns]

In [9]:
df.shape

(655362, 5)

In [13]:
df1=pandas.read_json("/home/ghost/Downloads/supermarkets.json")
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [17]:
df2=pandas.read_excel("/home/ghost/Downloads/grocerylists.xls",sheet_name=0)
df2

,The Ultimatest Grocery List Spreadsheet!,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Compliments of www.grocerylists.org,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,FOODSTUFFS,NaN,NaN,NaN,HOUSEHOLD,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Fresh vegetables,Condiments / Sauces,Dairy,Baked goods,Personal care,Cleaning products
5,· Asparagus,· BBQ sauce,· Butter / Margarine,· Bagels / Croissants,· Antiperspirant / Deodorant,· Air freshener
6,· Broccoli,· Gravy,· Cottage cheese,· Buns / Rolls,· Bath soap / Hand soap,· Bathroom cleaner
7,· Carrots,· Honey,· Half & half,· Cake / Cookies,· Condoms / Other b.c.,· Bleach / Detergent
8,· Cauliflower,· Hot sauce,· Milk,· Donuts / Pastries,· Cosmetics,· Dish / Dishwasher soap
9,· Celery,· Jam / Jelly / Preserves,· Sour cream,· Fresh bread,· Cotton swabs / Balls,· Garbage bags
10,· Corn,· Ketchup / Mustard,· Whipped cream,· Pie! Pie! Pie!,· Facial cleanser,· Glass cleaner
11,· Cucumbers,· Mayonnaise,· Yogurt,· Pita bread,· Facial tissue,· Mop head / Vacuum bags
12,· Lettuce / Greens,· Pasta sauce,·,· Sliced bread,· Feminine products,· Sponges / Scrubbers
13,· Mushrooms,· Relish,·,·,· Floss,·
14,· Onions,· Salad dressing,NaN,·,· Hair gel / Spray,·
15,· Peppers,· Salsa,Cheese,NaN,· Lip balm,NaN
16,· Potatoes,· Soy sauce,· Bleu cheese,Baking,· Moisturizing lotion,Office supplies
17,· Spinach,· Steak sauce,· Cheddar,· Baking powder / Soda,· Mouthwash,· CDRs / DVDRs
18,· Squash,· Syrup,· Cottage cheese,· Bread crumbs,· Razors / Shaving cream,· Notepad / Envelopes
19,· Zucchini,· Worcestershire sauce,· Cream cheese,· Cake / Brownie mix,· Shampoo / Conditioner,· Glue / Tape
20,· Tomatoes*,·,· Feta,· Cake icing / Decorations,· Sunblock,· Printer paper
21,·,·,· Goat cheese,· Chocolate chips / Cocoa,· Toilet paper,· Pens / Pencils
22,·,NaN,· Mozzarella,· Flour,· Toothpaste,· Postage stamps
23,NaN,Various groceries,· Parmesan,· Shortening,· Vitamins / Supplements,·
24,Fresh fruits,· Bouillon cubes,· Provolone,· Sugar,·,·
25,· Apples,· Cereal,· Ricotta,· Sugar substitute,·,NaN
26,· Avocados,· Coffee / Filters,· Sandwich slices,· Yeast,NaN,Carcinogens
27,· Bananas,· Instant potatoes,· Swiss,·,Medicine,· Arsenic
28,· Berries,· Lemon / Lime juice,·,·,· Allergy,· Asbestos
29,· Cherries,· Mac & cheese,·,NaN,· Antibiotic,· Cigarettes
...,...,...,...,...,...,...
57,· Burritos,Spices & herbs,· Beer,· Formula,·,·
58,· Fish sticks,· Basil,· Club soda / Tonic,· Lotion,·,·
59,· Fries / Tater tots,· Black pepper,· Champagne,· Baby wash,·,·
60,· Ice cream / Sorbet,· Cilantro,· Gin,· Wipes,·,·
61,· Juice concentrate,· Cinnamon,· Juice,·,·,·
62,· Pizza,· Garlic,· Mixers,·,·,·
63,· Pizza Rolls,· Ginger,· Red wine / White wine,NaN,·,·
64,· Popsicles,· Mint,· Rum,Pets,·,·
65,· TV dinners,· Oregano,· Saké,· Cat food / Treats,·,·
66,· Vegetables,· Paprika,· Soda pop,· Cat litter,·,·
67,·,· Parsley,· Sports drink,· Dog food / Treats,·,·
68,·,· Red pepper,· Whiskey,· Flea treatment,·,·
69,·,· Salt,· Vodka,· Pet shampoo,·,·
70,·,· Vanilla extract,·,·,·,·
71,·,·,·,·,·,·
72,·,·,·,·,·,·
73,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN
75,Important,NaN,NaN,NaN,When you go...,NaN
76,IMPORTANT: Please leave this list in the cart ...,NaN,NaN,NaN,· Take reusable bags!,· Need ice?
77,NaN,NaN,NaN,NaN,· Plastic bags to recycle?,· Rent a movie?
78,NaN,NaN,NaN,NaN,· Clip coupons?,· Stock up on sale items?
79,NaN,NaN,NaN,NaN,· Propane refill for grill?,· Use customer reward card?
80,NaN,NaN,NaN,NaN,· Need to return anything?,· Dance in the aisles?
81,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN
83,"*Yes, I know tomatoes technically are classifi...",NaN,NaN,NaN,NaN,NaN
84,I squeezed everything I could into one page. F...,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN
86,THE ULTIMATEST GROCERY LIST: THE DELUXE SPREAD...,NaN,NaN,NaN,NaN,NaN

In [18]:
#grab url
df3=pandas.read_csv("https://pythonhow.com/supermarkets.csv")
df3

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20