In [3]:
import pandas

In [6]:
df=pandas.read_csv("/home/ghost/Downloads/weather.data.csv")
df

        Unnamed: 0   data        date                 param        siteid
0                1   0.00  2003-01-01         Precipitation          ACRE
1                2   0.00  2003-01-02         Precipitation     AlbertLea
2                3  11.32  2003-01-03         Precipitation          Ames
3                4   0.00  2003-01-04         Precipitation        Antigo
4                5   3.04  2003-01-05         Precipitation      Appleton
5                6   0.49  2003-01-06         Precipitation     Arlington
6                7   0.00  2003-01-07         Precipitation     Bean&Beet
7                8   0.00  2003-01-08         Precipitation     Brookings
8                9   0.00  2003-01-09         Precipitation    Brownstown
9               10   0.00  2003-01-10         Precipitation      Columbia
10              11   0.00  2003-01-11         Precipitation     Crookston
11              12   0.00  2003-01-12         Precipitation        Dekalb
12              13   0.00  2003-01-13         Precipitation  DixonSprings
13              14   1.05  2003-01-14         Precipitation          DPAC
14              15   0.00  2003-01-15         Precipitation   EastLansing
15              16   0.20  2003-01-16         Precipitation     EauClaire
16              17   1.28  2003-01-17         Precipitation      Freeport
17              18   0.00  2003-01-18         Precipitation       Hancock
18              19   0.73  2003-01-19         Precipitation        Joilet
19              20   1.10  2003-01-20         Precipitation       Kellogg
20              21   0.00  2003-01-21         Precipitation     Lamberton
21              22   0.00  2003-01-22         Precipitation     Lancaster
22              23   0.00  2003-01-23         Precipitation     Lexington
23              24   0.00  2003-01-24         Precipitation     Manhattan
24              25   0.00  2003-01-25         Precipitation         McNay
25              26   2.12  2003-01-26         Precipitation      Metamora
26              27   0.00  2003-01-27         Precipitation      Monmouth
27              28   0.00  2003-01-28         Precipitation        Monroe
28              29   4.44  2003-01-29         Precipitation      MorrisIL
29              30   0.00  2003-01-30         Precipitation      MorrisMN
...            ...    ...         ...                   ...           ...
655332      655333  -1.45  2015-12-03   Minimum temperature      Freeport
655333      655334  -1.52  2015-12-04   Minimum temperature       Hancock
655334      655335  -1.95  2015-12-05   Minimum temperature        Joilet
655335      655336  -1.91  2015-12-06   Minimum temperature       Kellogg
655336      655337  -2.32  2015-12-07   Minimum temperature     Lamberton
655337      655338  -0.17  2015-12-08   Minimum temperature     Lancaster
655338      655339   2.26  2015-12-09   Minimum temperature     Lexington
655339      655340   2.58  2015-12-10   Minimum temperature     Manhattan
655340      655341   3.05  2015-12-11   Minimum temperature         McNay
655341      655342   1.97  2015-12-12   Minimum temperature      Metamora
655342      655343   4.92  2015-12-13   Minimum temperature      Monmouth
655343      655344  11.83  2015-12-14   Minimum temperature        Monroe
655344      655345   1.91  2015-12-15   Minimum temperature      MorrisIL
655345      655346   1.64  2015-12-16   Minimum temperature      MorrisMN
655346      655347  -2.66  2015-12-17   Minimum temperature        Nashua
655347      655348  -6.06  2015-12-18   Minimum temperature         NEPAC
655348      655349 -10.99  2015-12-19   Minimum temperature        Oceana
655349      655350 -10.72  2015-12-20   Minimum temperature         Perry
655350      655351   0.29  2015-12-21   Minimum temperature           PIT
655351      655352   1.87  2015-12-22   Minimum temperature  Portageville
655352      655353   0.75  2015-12-23   Minimum temperature          PPAC
655353      655354   0.82  2015-12-24   Minimum temperature     Princeton
655354      655355  -2.24  2015-12-25   Minimum temperature   Rhinelander
655355      655356  -2.24  2015-12-26   Minimum temperature     Rosemount
655356      655357   0.51  2015-12-27   Minimum temperature       Sanilac
655357      655358  -1.96  2015-12-28   Minimum temperature         SEPAC
655358      655359  -3.86  2015-12-29   Minimum temperature       Seymour
655359      655360  -4.50  2015-12-30   Minimum temperature    Sutherland
655360      655361  -5.22  2015-12-31   Minimum temperature        Urbana
655361      655362  -8.23  2016-01-01   Minimum temperature      Walworth

[655362 rows x 5 columns]